%% -*- mode: erlang -*-

{erl_opts, [debug_info,
	    {parse_transform, lager_transform}]}.

{deps, [{amqp_client, "3.7.13"},
	{lager, "3.6.9"}]}.

{project_plugins, [rebar3_proper]}.
{profiles,
 [{test, [
	  {erl_opts, [nowarn_export_all]},
	  {deps, [proper]}
	 ]}
 ]}.

{shell, [
	 {vm_args, "config/vm.args"},
	 {config, "config/sys.config"}
	]}.
