%% -*- mode: erlang -*-

[{kiks, [{rabbitmq_username, "guest"},
	 {rabbitmq_password, "guest"},
	 {rabbitmq_hostname, "localhost"},
	 {rabbitmq_port, "5672"}]},
 {kernel, [
  {logger, [
    {handler, structured, logger_std_h,
       #{formatter => {flatlog, #{
			 map_depth => 3,
			 term_depth => 50
			}}}}]}]}
].
